.success {
  background-color: rgb(139, 250, 106);
  border: rgb(4, 68, 7) solid 3px;
  border-radius: 5em;
  padding: 2.5em;
}

.fail {
  background-color: rgb(238, 177, 177);
  border: rgb(199, 52, 52) solid 3px;
  border-radius: 5em;
  padding: 2.5em;
}

.editBlock {
  text-align: center;
}

td {
  max-width: 30em;
  word-wrap: break-word;
}

table {
  width: 100%;
}

.placeholder {
  text-align: center;
}

.editButtom {
  justify-content: center;
  text-align: center;
}

.buttonGroup {
  text-align: center;
  justify-content: center;
}

.link {
  text-align: center;
}